h1 {
	text-align: center;
}
#wrap{
    display: block;
    width: 600px;
    margin: 0 auto;
}

.select {
	width: 300px;
	margin: 0 auto;
}

.select input[type=radio]{
    display: none;
}
.select label{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:0.9em;
    width: 100px;
    padding: 5px;	
}
.hover:hover{
    background-color: #eee;
}
.select input[type=radio]:checked+label{
    background-color: #ddd;
}
#buttons > li {
	display:inline-block;
}
button {
	width:250px;
	height:50px;
	margin-right:10px;
	border:1px solid #ccc;
	background:#eee;
	font-size:0.9em;
}
button:hover {
	background: #ddd;
}
span{
	display: inline-block;
	width: 150px;
	padding-left: 10px;
}

input {
	width: 300px;
	margin-top: 10px;
}
p {
	padding-left: 20px;
	font-weight:bold;
	font-size:0.9em;
	text-align: center;
	height: 20px;
	margin-top: 0;
	margin-bottom: 0;	
}

#userPwdMsg, #checkUserPwdMsg{
	text-align: center;
}
.label{
	display:inline-block;
	width:100px;
	font-weight:bold;
	font-size:0.9em;
	line-height:35px;
	text-align:right;
	margin-right:15px;
}
.input li > input {
	width:350px;
	height:35px;
	border:1px solid #aaa;
	border-radius:5px;
	padding:5px;	
}
ul {
	list-style:none;
}