@charset "UTF-8";
.e1_6 { 
	overflow:hidden;
	width:1920px;
	height:1080px;
	position:absolute;
}
.e1_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}

.e2_6 { 
	width:259px;
	height:605px;
	position:absolute;
	left:595px;
	top:-27px;
}
.desc1 { 
	color:rgba(0, 0, 0, 1);
	width:474px;
	height:116px;
	position:absolute;
	left:718px;
	top:623px;
	font-family: 'GmarketSans';
	font-weight: 100;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e3_15 { 
	width:763px;
	height:506px;
	position:absolute;
	left:578px;
	top:27px;
}
.title { 
	color:rgba(0, 0, 0, 1);
	width:288px;
	height:100px;
	position:absolute;
	left:323px;
	top:134px;
	font-family: 'GmarketSans';
	font-weight: 800;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.desc2 { 
	color:rgba(0, 0, 0, 1);
	font-family: 'GmarketSans';
	font-weight: 500;
	width:500px;
	height:110px;
	position:absolute;
	left:323px;
	top:315px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e2_13 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e2_13 { 
	width:440px;
	height:0px;
	position:absolute;
	left:323px;
	top:269px;
}
.e3_21 { 
	width:647px;
	height:60px;
	position:absolute;
	left:631px;
	top:903px;
}
.e3_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:295px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e3_16 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e3_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:295px;
	height:60px;
	position:absolute;
	left:352px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e3_19 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.btn1 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:29px;
	position:absolute;
	left:111px;
	top:20px;
	font-family: 'GmarketSans';
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.btn2 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:29px;
	position:absolute;
	left:455px;
	top:20px;
	font-family: 'GmarketSans';
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e3_24 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:29px;
	position:absolute;
	left:700px;
	top:806px;
	font-family: 'GmarketSans';
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
