#wrap {
    position: relative;
    top: 100px;
    margin: 0 auto;    
<<<<<<< HEAD
<<<<<<< HEAD
    border: 1px solid black;
    width: 500px;
    background: #333;
    color: white;
    border-radius: 20px;
}
h1 {
    margin-top: 30px;
    text-align: center;
}
form {
    margin: 0 auto;
    text-align: center;
    background: #000;
    width: 500px;
    border-radius: 0 0 20px 20px;
}
input {
    background: darkkhaki;
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
}
#btn{
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #888;
    margin-bottom: 20px;
}
.input{
    display: inline-block;
}

=======
=======
>>>>>>> branch 'master' of https://github.com/SongGwangIl/fillDispensor.git
    width: 600px;
}
h1 {
    margin-top: 30px;
    text-align: center;
}
form {
    margin: 0 auto;
    text-align: center;
    width: 500px;
}
input {
    margin-top: 20px;
    height: 30px;
}
#btn{
	display: inline-block;
	width: 200px;
	height: 50px;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
#btn:hover{
	background: #ccc;
}
a {
	display: block;
	text-align: center;
	text-decoration: none;
}

label {
	display:inline-block;
	width:70px;
	font-weight:bold;
	font-size:0.9em;
	line-height:35px;
	text-align:right;
	margin-right:15px;
}
ul {
    list-style: none;
    padding: 0;
}
.input li > input {
	width:300px;
	height:35px;
	border:1px solid #aaa;
	border-radius:5px;
	padding:5px;	
}
<<<<<<< HEAD
>>>>>>> branch 'master' of https://github.com/SongGwangIl/fillDispensor.git
=======
>>>>>>> branch 'master' of https://github.com/SongGwangIl/fillDispensor.git
