@charset "UTF-8";

h1 {
		font-size: 25px;
		width : 500px;
		margin : 0 auto;
		text-align: center;
}
table{
		width: 900px;
		font-size: 15px;
		text-align: center;
		border: 1px solid black;
		border-collapse: collapse;
		margin: 0 auto;
}
table th{
		border: 1px solid black;
		padding : 5px;
}
table td{
		border: 1px solid black;
		padding : 5px;
}
p {
		text-align : center;
		margin : 0 auto;
}
#container {
		width : 1200px;
		margin : 0 auto;
}
h3 {
		width : 500px;
		text-align: center;
}
.pagination {
	margin: 0 auto;
	width : 700px;
	display: flex;
	text-align: center;
	list-style: none;
	text-align: center;
}
.page-item {
	padding : 10px;
	font-size: 1em;
	font-weight: 800;
}