@charset "UTF-8";

.step1 {
	text-align: center;
    margin:300px auto;
    display: block;
	width: 600px;
	
}
ul {
	list-style: none;
	margin-left: -40px;
}

.terms_wrap {
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.total_agree {
	text-align: left;
	padding-top: 10px;
}

li {
	text-align: left;
	display: inline-block;
	width: 500px;
	margin-bottom: 10px;
	
}

#btn1 #btn2 {
	position: absolute;
	right: 0;
}
#buttons li{
	display: inline;
}

.button {
	display: inline;
	width: 100px;
}

.btn {
	
	border: 1px solid #ccc;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 5px;	
}

.btn:hover {
	background: #eee;
}

#policyService, #privacy {
	width: 500px;
	height: 300px;
	border: 1px solid black;
	overflow-y: scroll;
	overflow-x: none;
	font-size: 13px;
	display: none;
}
.terms_width {
	display: inline-block;
	width: 400px;
}
