<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timepill.customer.service.Impl.CustomerDAO">

	<resultMap type="CustomerVO" id="CustomerMap">
		<id column="ntc_id" property="id"/>
		<result column="ntc_title" property="title"/>
		<result column="ntc_content" property="content"/>
		<result column="ntc_date" property="date"/>
	</resultMap>
	
	<select id="getAllnoticeList" resultMap="CustomerMap">
		SELECT ntc_id, ntc_title, ntc_date
		FROM notice
	</select>
	
	<select id="getnoticeList" resultMap="CustomerMap">
		SELECT ntc_id, ntc_title, ntc_content
		FROM notice
		WHERE ntc_id = #{id}
	</select>
	
	<insert id="updateWrite">
		INSERT INTO notice (ntc_title, ntc_content) 
		VALUES(#{title}, #{content});
	</insert>
	
	<update id="updateNotice">
		UPDATE notice SET ntc_title = #{title}, ntc_content = #{content}
		WHERE ntc_id = #{id}
	</update>
	
	<delete id="deleteNotice">
		DELETE FROM notice 
		WHERE ntc_id = #{id}
	</delete>
	
	
	
</mapper>