<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timepill.dispensor.service.impl.DispensorDAO">
	<resultMap type="AlarmInfoVO" id="AlarmMap">
		<id column="sche_id" property="scheId"/>
		<result column="user_id" property="userId"/>
		<result column="sche_start_date" property="scheStartDate"/>
		<result column="sche_end_date" property="scheEndDate"/>
		<result column="sche_select" property="scheSelect"/>		
		<result column="time_id" property="timeId"/>
		<result column="time_alarm" property="timeAlarm"/>
		<result column="time_limit" property="timeLimit"/>
		<result column="re_alarm_count" property="reAlarmCount"/>
		<result column="re_alarm_time" property="reAlarmTime"/>
		<result column="med_location" property="medLocation"/>	
	</resultMap>
	<select id="getSchedules">
		SELECT sche_id, sche_start_date, sche_end_date, sche_select, user_id
		FROM schedule
		WHERE user_id = #{userId} AND sche_hide = 'N'
	</select>
	<select id="getAlarmsInfo">
		SELECT sche_id, time_id, time_alarm, time_limit, re_alarm_count, re_alarm_time,
				med_location
		FROM sche_time
		WHERE sche_id = #{scheId} AND time_hide = 'N'
	</select>
  
</mapper>