<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timepill.kakao.service.KakaoDAO">

<!-- 카카오 유저정보 가져오기 -->
<select id="selectUserInfo" resultType="UserVO">
SELECT
	USER_ID
	, ROLE
	, USER_STATUS
	, NICKNAME
	, TOKEN_USE_AT
FROM users
WHERE USER_ID = #{userId}
</select>


<!-- 카카오 회원가입 -->
<insert id="insertUser">
INSERT INTO users(
	USER_ID
	, ROLE
	, NICKNAME
	, EMAIL
	, USER_STATUS
	, TOKEN_USE_AT
) VALUES(
	#{userId}
	, 'USER'
	, #{nickname}
	, '카카오유저'
	, 'Y'
	, 'N'
)
</insert>

<!-- 리프레시 토큰 저장 -->
<update id="updateRefreshToken">
UPDATE users SET
	TOKEN_USE_AT = #{tokenUseAt}
	, REFRESH_TOKEN = #{refreshToken}
WHERE 
	<choose>
		<when test='oldRefreshToken != null'>
			REFRESH_TOKEN = #{oldRefreshToken}
		</when>
		<otherwise>
			USER_ID = #{userId}
		</otherwise>
	</choose>
	
</update>

<!-- 카카오 유저 리프레시 토큰 가져오기 -->
<select id="selectKakaoRefreshTokenList" resultType="UserVO">
SELECT 
	A.REFRESH_TOKEN
FROM
	users A
		JOIN alarm_set B ON A.USER_ID = B.USER_ID
		JOIN schedule C ON B.ALARM_ID = C.ALARM_ID
		JOIN med_info D ON C.MED_ID = D.MED_ID
WHERE 
	A.USER_STATUS = 'Y'
	AND A.TOKEN_USE_AT = 'Y'
	AND CURDATE() BETWEEN D.START_DATE AND D.END_DATE
	AND B.ALARM_TIME BETWEEN CURTIME() - INTERVAL 59 SECOND AND CURTIME() + INTERVAL 59 SECOND
</select>
 
</mapper>