<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timepill.kakao.service.KakaoDAO">

<select id="duplicateCheckUser" resultType="java.lang.Integer">
SELECT
	COUNT(*) CNT
FROM users
WHERE USER_ID = #{userId}
</select>

<insert id="insertUser">
INSERT INTO users(
	USER_ID
	, USER_NAME
	, PASSWORD
	, EMAIL
) VALUES(
	#{userId}
	, #{password}
	, #{userName}
	, #{email}
)
</insert>
 
</mapper>