<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.member.service.impl.MemberDAO">

	<resultMap type="UserVO" id="UserMap">
		<id column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_valid" property="userValid"/>
		<result column="device_regist" property="deviceRegist"/>
		<result column="user_select" property="userSelect"/>
	</resultMap>
	
<!-- 	<sql id="searchKey1"> -->
<!-- 		<if test="searchKey == '1'"> -->
<!-- 			USER_ID LIKE CONCAT(CONCAT('%', #{searchValue}), '%') -->
<!-- 		</if> -->
<!-- 		<if test="searchKey == '2'"> -->
<!-- 			USER_NAME LIKE CONCAT(CONCAT('%', #{searchValue}), '%') -->
<!-- 		</if> -->
<!-- 	</sql> -->
	
<!-- 	<sql id="searchKey2"> -->
<!-- 		<if test="searchKey == '1'"> -->
<!-- 			USER_ID LIKE CONCAT(CONCAT('%', #{searchValue}), '%') -->
<!-- 		</if> -->
<!-- 		<if test="searchKey == '2'"> -->
<!-- 			USER_NAME LIKE CONCAT(CONCAT('%', #{searchValue}), '%') -->
<!-- 		</if> -->
<!-- 	</sql> -->
	
	<!-- 사용자의 userSelect -->
	<select id="userSelect" resultType="String">
		SELECT USER_SELECT
		FROM USER
		WHERE USER_ID = #{userId}
	</select>

	<select id="deviceSelect" resultType="String">
		SELECT UI.USER_ID
		FROM USER_INFO UI JOIN DEVICE D ON(UI.USER_ID=D.USER_ID) 
		WHERE DEVICE_ID = #{deviceId}
			AND 
	</select>
	
</mapper>