<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.member.service.impl.MemberDAO">

	<!-- 사용자 타입 userSelect -->
	<select id="userSelect" resultType="String">
		SELECT USER_SELECT
		FROM USER
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- 사용자의 신청 여부 조회 , 신청한 보호자 ID, 등록여부, 보호자 이름-->
	<select id="userInfoSelect" resultType="userInfoVO">
		SELECT 
			USER_PRO_ID
			, USER_PRO_REGIST
			, P.PROT_NAME 
		FROM USER_INFO UI JOIN PROTECTOR P ON(UI.USER_PRO_ID = P.USER_ID)
		WHERE UI.USER_ID= #{userId}
	</select>

	<!-- 보호자 등록기기 시리얼코드로 userId, userName select 검색 -->
	<select id="deviceSelect" resultType="UserInfoVO">
		SELECT 
			UI.USER_ID
			, UI.USER_NAME
		FROM USER_INFO UI JOIN DEVICE D ON(UI.USER_ID=D.USER_ID) 
		WHERE DEVICE_ID = #{searchValue}
	</select>
	
	<!-- 보호자의 관계 신청 : 사용자 정보 테이블에 보호자 컬럼에 값을 update -->
	<update id="registUser">
		UPDATE USER_INFO
		SET USER_PRO_ID = #{userProId}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="accept">
		UPDATE USER_INFO
		SET USER_PRO_REGIST = 'T'
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="deny">
		UPDATE USER_INFO
		SET USER_PRO_ID = 'F'
		WHERE USER_ID = #{userId}
	</update>
	
</mapper>