<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.record.service.impl.RecordDAO">

	<resultMap type="RecordVO" id="RecordMap">
		<id column="TAKE_ID" property="takeId"/>
		<result column="USER_ID" property="userId"/>
		<result column="TIME_ID" property="timeId"/>
		<result column="TAKE_DATE" property="takeDate"/>
		<result column="TAKE_SUCCESS" property="takeSuccess"/>
		<collection property="scheduleList" ofType="ScheduleVO"> 
			<id column="SCHE_ID" property="scheId"/>
			<result column="USER_ID" property="userId"/>
			<result column="SCHE_TITLE" property="scheTitle"/>
			<result column="SCHE_SELECT" property="scheSelect"/>
			<result column="SCHE_START_DATE" property="scheStartDate"/>
			<result column="SCHE_END_DATE" property="scheEndDate"/>
			<result column="SCHE_DATE_EXPIRES" property="scheDateExpires"/>
		</collection>
		<collection property="scheTimeList" ofType="ScheTimeVO"> 
			<id column="TIME_ID" property="timeId"/>
			<result column="SCHE_ID" property="scheId"/>
			<result column="TIME_NAME" property="timeName"/>
			<result column="TIME_ALARM" property="timeAlarm"/>
			<result column="TIME_LIMIT" property="timeLimit"/>
			<result column="RE_ALARM_COUNT" property="reAlarmCount"/>
			<result column="RE_ALARM_TIME" property="reAlarmTime"/>
		</collection>
	</resultMap>

	

	<select id="selectByAll" resultMap="RecordMap">
		SELECT 
			TAKE_ID
			, USER_ID
			, SCHE_TITLE
			, TIME_ID
			, TIME_NAME 
			, TAKE_DATE
			, TAKE_SUCCESS
		FROM TAKE_LOG TL NATURAL JOIN SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE USER_ID = #{userId}
		ORDER BY TAKE_DATE
	</select>

	<select id="selectByDate" resultMap="RecordMap">
		SELECT 
			TAKE_ID
			, USER_ID
			, SCHE_TITLE
			, TIME_ID
			, TIME_NAME 
			, TAKE_DATE
			, TAKE_SUCCESS
		FROM TAKE_LOG TL NATURAL JOIN SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE DATE(TAKE_DATE) = DATE(#{takeDate})
			AND USER_ID = #{userId}
		ORDER BY TAKE_DATE
	</select>
	
	<select id="selectAlarmList" resultMap="RecordMap">
		SELECT 
			SCHE_ID
			, TIME_ID
			, SCHE_TITLE
			, TIME_NAME
			, TIME_ALARM
		FROM SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE 
        	SCHE_END_DATE &gt;= DATE(NOW())
        	AND SCHE_START_DATE &lt;= DATE(NOW())
        	AND USER_ID = #{userId}
	</select>
	
	<select id="selectAlarmByDate" resultMap="RecordMap">
		SELECT 
			SCHE_ID
			, TIME_ID
			, SCHE_TITLE
			, TIME_NAME
			, TIME_ALARM
		FROM SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE 
        	SCHE_END_DATE &gt;= DATE(#{takeDate})
        	AND SCHE_START_DATE &lt;= DATE(#{takeDate})
        	AND USER_ID = #{userId}
	</select>
	
	<select id="selectChart" resultType="RecordVO">
		SELECT 
		    DATE(DATE_SUB(#{takeDate}, INTERVAL SEQ DAY)) AS TAKEDATE,
		    (
		        SELECT COUNT(*)
		        FROM SCHE_TIME
		        NATURAL JOIN SCHEDULE
		        WHERE USER_ID = #{userId}
			        AND SCHE_START_DATE &lt;= DATE(DATE_SUB(#{takeDate}, INTERVAL SEQ DAY))
			        AND SCHE_END_DATE &gt;= DATE(DATE_SUB(#{takeDate}, INTERVAL SEQ DAY))
		    ) AS CNTALARM,
		    (
		        SELECT COUNT(*)
		        FROM TAKE_LOG
		        WHERE USER_ID = #{userId}
		        AND DATE(TAKE_DATE) = DATE(DATE_SUB(#{takeDate}, INTERVAL SEQ DAY))
		    ) AS CNTTAKELOG
		FROM
		    (
		        SELECT 0 AS SEQ UNION ALL
		        SELECT 1 UNION ALL
		        SELECT 2 UNION ALL
		        SELECT 3 UNION ALL
		        SELECT 4 UNION ALL
		        SELECT 5 UNION ALL
		        SELECT 6
		    ) AS TAKEDATE
	</select>
	
	
	<insert id="addTakeLog">
		INSERT INTO 
			TAKE_LOG (
				TAKE_ID
				, USER_ID
				, TIME_ID
				, TAKE_DATE
				, TAKE_SUCCESS
				)
			VALUES (
				CONCAT('LOG_', LPAD(NEXT VALUE FOR SQ_TIME, 6, '0'))
				, #{userId}
				, #{timeId}
				, NOW()
				, 'N'
				)
	</insert>
</mapper>