<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.record.service.impl.RecordDAO">

	<resultMap type="RecordVO" id="RecordMap">
		<id column="TAKE_ID" property="takeId"/>
		<result column="USER_ID" property="userId"/>
		<result column="TIME_ID" property="timeId"/>
		<result column="TAKE_DATE" property="takeDate"/>
		<result column="TAKE_SUCCESS" property="takeSuccess"/>
		<collection property="scheduleList" ofType="ScheduleVO"> 
			<id column="SCHE_ID" property="scheId"/>
			<result column="USER_ID" property="userId"/>
			<result column="SCHE_TITLE" property="scheTitle"/>
			<result column="SCHE_SELECT" property="scheSelect"/>
			<result column="SCHE_START_DATE" property="scheStartDate"/>
			<result column="SCHE_END_DATE" property="scheEndDate"/>
			<result column="SCHE_DATE_EXPIRES" property="scheDateExpires"/>
		</collection>
		<collection property="scheTimeList" ofType="ScheTimeVO"> 
			<id column="TIME_ID" property="timeId"/>
			<result column="SCHE_ID" property="scheId"/>
			<result column="TIME_NAME" property="timeName"/>
			<result column="TIME_ARLAM" property="timeArlam"/>
			<result column="TIME_LIMIT" property="timeLimit"/>
			<result column="RE_ARLAM_COUNT" property="reArlamCount"/>
			<result column="RE_ARLAM_TIME" property="reArlamTime"/>
		</collection>
	</resultMap>

	

	<select id="selectByAll" resultMap="RecordMap">
		SELECT 
			TAKE_ID
			, USER_ID
			, SCHE_TITLE
			, TIME_ID
			, TIME_NAME 
			, TAKE_DATE
			, TAKE_SUCCESS
		FROM TAKE_LOG TL NATURAL JOIN SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE USER_ID = #{userId}
		ORDER BY TAKE_DATE
	</select>
	
	<select id="selectByToday" resultMap="RecordMap">
		SELECT 
			TAKE_ID
			, USER_ID
			, SCHE_TITLE
			, TIME_ID
			, TIME_NAME 
			, TAKE_DATE
			, TAKE_SUCCESS
		FROM TAKE_LOG TL NATURAL JOIN SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE DATE(TAKE_DATE) = DATE(NOW())
			AND USER_ID = #{userId}
		ORDER BY TAKE_DATE
	</select>
	
	<select id="selectByDate" resultMap="RecordMap">
		SELECT 
			TAKE_ID
			, USER_ID
			, SCHE_TITLE
			, TIME_ID
			, TIME_NAME 
			, TAKE_DATE
			, TAKE_SUCCESS
		FROM TAKE_LOG TL NATURAL JOIN SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE DATE(TAKE_DATE) = DATE(#{takeDate})
			AND USER_ID = #{userId}
		ORDER BY TAKE_DATE
	</select>
	
	<select id="selectAlarmList" resultMap="RecordMap">
		SELECT 
			SCHE_ID
			, TIME_ID
			, SCHE_TITLE
			, TIME_NAME
			, TIME_ARLAM
		FROM SCHE_TIME NATURAL JOIN SCHEDULE
		WHERE 
        	SCHE_END_DATE &gt;= DATE(NOW())
        	AND SCHE_START_DATE &lt;= DATE(NOW())
        	AND USER_ID = #{userId}
	</select>
	
	<insert id="addTakeLog">
		INSERT INTO 
			TAKE_LOG (
				TAKE_ID
				, USER_ID
				, TIME_ID
				, TAKE_DATE
				, TAKE_SUCCESS
				)
			VALUES (
				CONCAT('LOG_', LPAD(NEXT VALUE FOR SQ_TIME, 6, '0'))
				, #{userId}
				, #{timeId}
				, NOW()
				, 'N'
				)
	</insert>
</mapper>