<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.ac.kopo.schedule.service.impl.ScheduleDAO">
	<resultMap type="ScheduleVO" id="scheduleMap">
		<id column="sche_id" property="scheId"/>
		<result column="user_id" property="userId"/>
		<result column="sche_title" property="scheTitle"/>
		<result column="sche_select" property="scheSelect"/>
		<result column="sche_start_date" property="scheStartDate"/>
		<result column="sche_end_date" property="scheEndDate"/>
		<result column="sche_date_expires" property="scheDateExpires"/>
	</resultMap>
	
	<select id="list" resultType="ScheduleVO">
		SELECT * FROM SCHEDULE
		WHERE USER_ID=#{userId}
		ORDER BY sche_id DESC;
	</select>

	<insert id="add">
	INSERT INTO SCHEDULE
	(SCHE_ID, USER_ID, SCHE_TITLE, SCHE_TAKE_NUM, SCHE_SELECT, SCHE_START_DATE, SCHE_END_DATE)
	VALUES
	(CONCAT('sche_', LPAD(NEXT VALUE FOR SQ_SCHE, 5, '0')), #{userId}, #{scheTitle}, #{scheTakeNum}, #{scheSelect}, #{scheStartDate}, #{scheEndDate})
	</insert>
	
	<select id="findById">
		SELECT * FROM SCHEDULE
		WHERE SCHE_ID=#{scheId}
	</select>

</mapper>