<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.ac.kopo.schedule.service.impl.ScheTimeDAO">
	<resultMap type="ScheTimeVO" id="scheTimeMap">
		<id column="time_id" property="timeId"/>
		<result column="sche_id" property="scheId"/>
		<result column="time_name" property="timeName"/>
		<result column="time_alarm" property="timeAlarm"/>
		<result column="time_limit" property="timeLimit"/>
		<result column="re_alarm_count" property="reAlarmCount"/>
		<result column="re_alarm_time" property="reAlarmTime"/>
		<result column="med_location" property="medLocation"/>
	</resultMap>
	
	<select id="list" resultType="ScheTimeVO">
		SELECT * FROM SCHE_TIME
	</select>

	<insert id="add">
	INSERT INTO SCHE_TIME
	(time_id, sche_id, time_name, time_alarm, time_limit, re_alarm_count, re_alarm_time, med_location)
	VALUES
	(CONCAT('time_', LPAD(NEXT VALUE FOR SQ_TIME, 5, '0'))
	, #{scheId}, #{timeName}, #{timeAlarm}, #{timeLimit}, #{reAlarmCount}, #{reAlarmTime}, #{medLocation})
	</insert>

</mapper>