<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timepill.user.service.impl.UserDAO">

  <select id="login">
  	SELECT 
  		user_id
  		, password
  		, role
  		, user_status
  		, NICKNAME
    FROM users 
    WHERE user_id = #{userId}
  </select>
  
  <insert id="add">
  	INSERT INTO users (
  		user_id
  		, nickname
  		, password
  		, role
  		, email)
  	VALUES (
  		#{userId}
  		, #{nickname}
  		, #{password}
  		, 'USER'
  		, #{email})
  </insert>
  
  <select id="checkId" resultType="String">
  	SELECT COUNT(*) 
  	FROM users 
  	WHERE user_id = #{userId}
  </select>
  
  <select id="findId" resultType="String">
  	SELECT user_id
  	FROM users
  	WHERE email = #{email}
  </select>
  
  <update id="resetPassword">
  	UPDATE users
  	SET password = #{password}  		
  	WHERE user_id = #{userId} AND email = #{email}
  </update>
  
  <select id="checkUser">
  	SELECT user_id, email
  	FROM users
  	WHERE user_id = #{userId} AND email = #{email}
  </select>
  
</mapper>