@charset "UTF-8";

#nav {
	width : 1000px;
	margin : 0 auto;
}
#nav ul {
	width : 1000px;
	display: flex;
	text-align: center;
}
.menu {
	padding: 0;
	list-style: none;
	text-align: center;
}
.menu a {
	text-decoration: none;
	font-size: 1em;
	font-weight: 800;
}
#recordForm {
	width : 133px;
	margin : 0;
	padding: 0;
}