h1 {
    font-size: 25px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 900px;
    font-size: 15px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto; /* 테이블을 가운데 정렬 */
}

table th {
    border: 1px solid black;
    padding: 5px;
}

table td {
    border: 1px solid black;
    padding: 5px;
}

p {
    text-align: center;
    margin: 0 auto;
}

#container {
    width: 1200px;
    margin: 0 auto;
    text-align: center; /* 이 줄 추가 - 컨테이너 내부의 콘텐츠를 가운데 정렬 */
}

h3 {
    width: 500px;
    text-align: center;
}

.pagination {
    margin: 0 auto;
    width: 700px;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center; /* 이 줄 수정 - 페이지네이션 항목들을 가운데 정렬 */
}

.page-item {
    padding: 10px;
    font-size: 1em;
    font-weight: 800;
}
