
/* body 파트, 전체폰트 및  margin 초기화, 배경 */
body {
    letter-spacing: -1.5px;
    margin: 0;
    background-color: #f8f8f8;
}

/* 헤더와 메뉴바 포함 전체 컨테이너*/
#backcontainer {
    margin: 0 auto;
    width: 40%; 
    height: 100vh;
    bottom: 100px;
    background: #f8f8f8; 
    overflow: auto;
}


/* 헤더 부분 : 로고, userstatus */
#header {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    /* border-bottom: 1px solid rgb(207, 207, 207); */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    align-items: center;
}
.headerbar {
    margin: 0;

}
.title {
    width: 200px;
    text-align: center;
}
#logo {
    width: 50px;
    margin: 0 auto;
}
.logout {
    padding-left: 75%;
}


/* 푸터 부분 : 메뉴 */
#mainmenu {
    width: 100%; /* 전체 너비 사용 */
    height: 100px;
    background-color:#f8f8f8;
    /* border-top: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    padding: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
}
a {
    text-decoration: none;
    font-weight: 800;
    color: #111;
}

/* 컨텐츠 */
#contents {
    margin: 0 auto;
    width: 450px;
    background-color: #f8f8f8;
    height: 85vh;
    overflow: auto;
}


/* slider */
.slider-container {
    width: 400px;
    margin: 0 auto;
}
.card {
    height: 300px;
    background-color: rgb(63, 142, 252);
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

/* time picker icon*/
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

input[type='time'] {
    background-color: transparent;
    border: none;
    font-family: 'GmarketSans';
    font-weight: 800;
    font-size: 24px;
}

.greetingdesc {
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
}

.hilightdesc {
    font-family: 'GmarketSans';
    font-size: 26px;
    font-weight: 800;
}

/* 체크용 line */
/* .checkline {
    border: 1px solid black;
} */

/* box horizon*/
.boxh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* box vertical*/
.boxv {
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* 로딩 완료 후 페이드인 */
.fadein {
    opacity: 0; /* 투명도 0 */
    transition: opacity 2s ease; /* 애니메이션 효과 */
}

/* 동그라미 버튼 */
.round-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(63, 142, 252);
}

/* 모달 */
.modal{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}
.modal_body{
    position:absolute;
    top:50%;
    width:300px;
    height:300px;

    padding:40px;  

    text-align: center;

    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    transform:translateY(-50%);
}

@media (max-width: 1150px) {
    #backcontainer {
        width: 70%;
    }
}

@media (max-width: 700px) {
    #backcontainer {
        width: 450px;
    }
}
